{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
        <table>
          <tr>
            <th scope="col">  Symbol</th>
            <th scope="col">  Quantity</th>
          	<th scope="col">  Buying_Price</th>
          	<th scope="col">  Total</th>
          </tr>
          <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>$10,000.00</td>
            </tr>
        </tfoot>
          {% for dict_items in stocks %}
            <tr>
                <td>{{ dict_items.symbol}}</td>
                <td>{{ dict_items.quantity}}</td>
                <td>{{ dict_items.cost}}</td>
                <td>{{ dict_items.total_cost}}</td>
            </tr>
        {% endfor %}
        <tr>
                <td colspan="3">CASH</td>
                <td>{{ cash }}</td>
        </tr>

{% endblock %}